:root {
  --nav-height: 56px;
  --primary-color: #4070f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chuẩn */
}

.toast-container {
  z-index: 99999 !important;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
}

nav .dropdown-toggle::after {
  display: none;
}

nav .dropdown-toggle {
  width: 36px;
  height: 36px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.logo .menu-icon {
  color: #333;
  font-size: 24px;
  cursor: pointer;
}

.logo-name span:last-child {
  font-size: 12px;
}

/* Sidebar */
.sidebar {
  min-width: 260px;
  max-width: 260px;
}

.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}

.sidebar-content .list {
  list-style: none;
}

.sidebar .logo {
  padding-bottom: 5px;
}

/* .sidebar .logo {
    display: none !important;
} */

.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}

.lists .nav-link:hover {
  background-color: #66666620;
}

.lists .nav-link.active {
  background-color: #4070f4;
  color: white !important;
}

/* Main page */
.main-page {
  margin-top: var(--nav-height);
  height: calc(100vh - 56px);
  overflow-y: scroll;
}

.chart-wrapper {
  background-color: white;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

/* toast */
.toast-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1055;
}

.toast {
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.toast-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

/* Maobox */
#map {
  height: 300px;
  width: 100%;
}

.search:focus {
  border-color: #dee2e6 !important;
  box-shadow: none !important;
}

/* .mapboxgl-canvas {
    width: 100% !important;
} */

.table .dropdown-toggle::after,
#stations-list .dropdown-toggle::after {
  display: none;
}

#tab-sensor .nav-link.active {
  color: #4070f4 !important;
}

.filter .dropdown-toggle::after {
  display: none !important;
}

.filter .dropdown-menu {
  width: 220px;
}

.modal .modal-body {
  max-height: 70vh;
}

input.form-control {
  box-shadow: none !important;
}

input.form-control:focus {
  border-color: #dee2e6 !important;
}

.flatpickr-months .flatpickr-month {
  background-color: var(--primary-color) !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-current-month
  .flatpickr-monthDropdown-months
  .flatpickr-monthDropdown-month {
  background-color: var(--primary-color) !important;
}

.flatpickr-weekdays {
  background-color: var(--primary-color) !important;
}

.flatpickr-weekday {
  background: var(--primary-color) !important;
  color: #ffff !important;
}

.flatpickr-calendar.arrowTop:after {
  border-bottom-color: var(--primary-color) !important;
}

.flatpickr-calendar.arrowBottom:after {
  border-top-color: var(--primary-color) !important;
}

.text-line-secondary {
  font-size: 12px;
}

table * {
  vertical-align: middle;
}

.mapboxgl-popup-content {
  border-radius: 8px;
  border: 1px solid rgba(233, 236, 239);
}

.popup-list-data {
  max-height: 130px;
  overflow-y: scroll;
}

.popup-title {
  font-size: 14px;
}

#box-left-btn {
  left: 10px;
  top: 10px;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}

#box-left-btn:hover {
  background-color: #f2f2f2 !important;
}

#stations-list small {
  font-size: 12px;
}

#add-station-btn {
  width: 29px;
  height: 29px;
  right: 10px;
  top: 145px;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}

#add-station-btn:hover {
  background-color: #F2F2F2 !important;
}

#add-station-btn.active {
  color: #33B5E5 !important;
}

#box-chart-map {
  height: 50% !important;
}

.chart {
  max-width: 100% !important;
  max-height: 100% !important;
}

#avatar-btn {
  width: 28px;
  height: 28px;
  font-size: 12px;
  bottom: 0;
  left: 70%;
}

#avatar-btn i {
  line-height: 28px;
}

@media (min-width: 992px) {
  .sidebar {
    min-width: 260px;
    max-width: 260px;
    transform: translateX(0) !important;
    visibility: visible !important;
    position: -webkit-stick !important;
    position: sticky !important;
    z-index: 1;
    border-radius: 8px;
  }

  .sidebar .logo {
    display: none !important;
  }

  .sidebar .offcanvas-body {
    padding-top: 0 !important;
  }

  nav .menu-button {
    display: none !important;
  }

  .sidebar .logo {
    display: none;
  }
}

@media (max-width: 576px) {
  nav .logo {
    display: none !important;
  }

  .table:not(#table-map) thead {
    display: none;
  }

  .table:not(#table-map) tbody tr {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
  }

  .table:not(#table-map) tbody tr th,
  .table:not(#table-map) tbody tr td {
    display: block;
    text-align: left !important;
    width: 100%;
  }

  .table:not(#table-map) tbody tr th::before,
  .table:not(#table-map) tbody tr td:not(td[data-title="Chức năng"])::before {
    content: attr(data-title) ": ";
    font-weight: bold;
  }

  .table:not(#table-map) tbody tr th[data-title="STT"] {
    width: 50%;
  }

  .table:not(#table-map) tbody tr td[data-title="Chức năng"] {
    width: 50%;
    text-align: right !important;
  }

  .table:not(#table-map) tbody tr td:not(td[data-title="Chức năng"]) {
    order: 2;
  }
}
