* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --nav-height: 56px;
}

.active {
    color: green;
}

.unactive {
    color: red;
}

body {
    min-height: 100%;
    background: #e3f2fd;
    overflow-x: hidden;
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--nav-height);
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.logo .menu-icon {
    color: #333;
    font-size: 24px;
    cursor: pointer;
}

.logo-name span:last-child {
    font-size: 12px;
}

nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

nav.open .sidebar {
    left: 0;
}

/* Sidebar */
.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
}

.sidebar-content .list {
    list-style: none;
}

.list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
}

.lists .nav-link:hover {
    background-color: #4070f4;
}

.nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: #707070;
}

.nav-link .link {
    font-size: 16px;
    color: #707070;
    font-weight: 400;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
}

nav.open~.overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
}

/* Main page */
.mainpage {
    /* margin: 15px 0 10px 20px; */
    position: absolute;
    top: var(--nav-height);
    z-index: -1;
}

.dropdown-wrapper {
    margin-top: 10px;
}

.dropdown:not(:first-child) {
    margin-left: 10px;
}

.dropdown-toggle {
    background-color: white;
}

.card-wrapper {
    margin-top: 20px;
}

.card {
    padding: 0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card:first-child {
    margin-right: 10px;
}

.card-heading {
    display: flex;
}

.card-heading i {
    font-size: 24px;
    margin-right: 5px;
}

.chart-wrapper {
    background-color: white;
    margin-top: 20px;
    text-align: center;
    width: 100vw;
}

/* toast */
.toast-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1055;
}

.toast {
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.toast-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}